
div.card
    h2 #{workflow_1.title}
    p #{workflow_1.description}
    h4 #{workflow_1.a}
    h4 #{workflow_1.b}
    a(href=workflow_1.url target="_blank")
        img(src=workflow_1.img)
    
    
    


  
