include header.pug

section.event.fullPage
    div(class="img-responsive imgBackground img-fluid event-image")
    h2.title #{event.title}
    div.row
        div.column.googleMap
            //- img(src=event.img)
        div.column 
            div.right
                 
                
    div.buttonSec
        p #{event.comment[0]} 
        p #{event.comment[1]} 
        p #{event.comment[2]}
        br
        a(class='mainButton button form' 
        target="_blank"
        href='http://bit.ly/event_photo_humansoffshore') 更多活動花絮
    
        
    
    
    include footer.pug
    
