include header.pug

section.event.fullPage
    div(class="img-responsive imgBackground img-fluid event-image")
    h2.title #{event.title}
    div.row
        div.col-md-6.googleMap
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8073.91476816989!2d121.51927440236074!3d25.048123793070243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a98fb62fcf41%3A0x361aed8bea36d063!2zSG9tZWhvbGljIOWPquaDs-WcqOWutuWFseS6q-epuumWkw!5e0!3m2!1szh-TW!2sjp!4v1574041783494!5m2!1szh-TW!2sjp")
        div.col-md-6 
            div.event-intro
                p 空間 | #{event.space} 
                p 地址 | #{event.location}
                p 時間 | #{event.time}
                p 簡介 | #{event.agenda}
                hr
                p Schedule 
                    p | #{event.description[0]}
                    p | #{event.description[1]}
                    p | #{event.description[2]}
                    p | #{event.description[3]}
                    p | #{event.description[4]}
                    p | #{event.description[5]}
                    p | #{event.description[6]}
                    p | #{event.description[7]}
    div.buttonSec
        a(class='mainButton button form' 
        target="_blank"
        href='http://bit.ly/humansoffshore_mixer') 報名取暖會
    
        
    
    
    include footer.pug
    
