
include header.pug

div.body
    div.navbar
    section.welcome
        div.context
            h2 #{index.title}
            p #{index.description}
            p Thank you for joining Humans Offshore podcast!
            a(  class='button' 
                href='google.com') 分享經驗
    section.listen
        include episode.pug
    section.about
        include about.pug
    section.contact
        a(  class='button' 
            href='https://theyijen.typeform.com/to/e0Z8Fl' 
            target='_blank') 聯絡離島人
            
            
            
include footer.pug
